In [1]:
from class_city import City
import pandas as pd

In [68]:
df = pd.read_excel("./data/data.xlsx", sheet_name="fixed_link_cost", header=1, index_col=1)
df

,Name,1,2,3,4,5,6,7,8,9,...,72,73,74,75,76,77,78,79,80,81
ID,,,,,,,,,,,,,,,,,,,,,
1,ADANA,0.000000,0.389010,0.518652,1.343482,1.232207,0.089905,0.238599,4.007558,0.690688,...,0.996615,1.476146,3.070355,5.761666,4.661574,3.895041,2.290017,1.557586,0.137845,1.689429
2,ADIYAMAN,0.396239,0.000000,2.468324,2.721588,3.867073,0.419446,1.146675,8.862775,2.856602,...,1.463511,2.986548,12.539737,12.750899,9.889803,15.332264,9.589142,4.064975,1.181072,7.016891
3,AFYON,0.526807,2.461394,0.000000,4.225678,2.760791,0.109035,0.289700,11.127156,0.629535,...,4.437714,6.171880,4.763853,17.378075,14.358573,3.398888,3.384115,12.094344,2.442449,2.066866
4,AĞRI,1.370385,2.725439,4.243571,0.000000,5.272821,0.691954,2.181650,5.344898,4.558848,...,2.119716,3.179372,16.652956,6.002369,2.224874,21.149226,12.809521,18.753146,5.032582,9.918217
5,AMASYA,1.259937,3.881957,2.779220,5.285636,0.000000,0.319208,1.937266,14.045203,3.760475,...,6.685866,10.629347,8.992867,22.403100,19.056536,14.115203,6.173908,22.203350,5.220246,5.500537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,YALOVA,3.994308,15.436157,3.431553,21.262447,14.156361,0.840081,2.886190,54.781367,4.446216,...,25.701489,37.076876,16.798600,85.473995,72.063589,0.000000,12.862575,81.914971,17.652879,4.501300
78,KARABÜK,2.346417,9.646053,3.413783,12.867336,6.186737,0.332095,2.645807,32.318576,5.169962,...,15.817722,23.679622,2.823436,51.513173,44.383094,12.851828,0.000000,50.939435,10.619517,3.526079
79,KİLİS,1.598554,4.095779,12.220302,18.868555,22.285826,2.225162,5.666791,59.459489,14.537143,...,12.599928,19.393743,66.851785,85.503685,66.592729,81.980213,51.022636,0.000000,4.163548,37.359424
80,OSMANİYE,0.140752,1.183973,2.455342,5.037816,5.213004,0.435026,1.133510,15.139948,3.116867,...,3.532392,5.339199,14.051847,21.770422,17.644665,17.577140,10.582796,4.142385,0.000000,7.782498
81,DÜZCE,1.728753,7.049222,2.082236,9.949837,5.504694,0.260762,1.660883,25.379657,3.120687,...,12.100302,17.703644,4.880938,40.093674,34.085882,4.491605,3.521427,37.249291,7.799198,0.000000

In [66]:
for row in df.iterrows():
    origin_id = row[0]
    print(row[1].to_dict())
    break

{'Name': 'ADANA', 1: 0, 2: 329, 3: 573, 4: 961, 5: 613, 6: 490, 7: 558, 8: 1030, 9: 894, 10: 894, 11: 768, 12: 628, 13: 727, 14: 677, 15: 671, 16: 837, 17: 1094, 18: 576, 19: 575, 20: 768, 21: 518, 22: 1169, 23: 486, 24: 675, 25: 804, 26: 688, 27: 205, 28: 727, 29: 786, 30: 900, 31: 191, 32: 620, 33: 69, 34: 939, 35: 900, 36: 1007, 37: 690, 38: 333, 39: 1150, 40: 375, 41: 828, 42: 356, 43: 673, 44: 388, 45: 882, 46: 185, 47: 530, 48: 871, 49: 738, 50: 287, 51: 205, 52: 718, 53: 926, 54: 791, 55: 729, 56: 701, 57: 871, 58: 429, 59: 1071, 60: 499, 61: 852, 62: 621, 63: 342, 64: 689, 65: 895, 66: 473, 67: 754, 68: 265, 69: 809, 70: 290, 71: 475, 72: 614, 73: 711, 74: 769, 75: 1036, 76: 1064, 77: 893, 78: 701, 79: 242, 80: 85, 81: 722}